#registrationForm {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

div {
    color: rgb(219, 68, 68);
    font-size: smaller;
}

#buttonSubmit {
    width: 6rem;
    height: 2.7rem;
    background-color: silver;
    border-radius: 5px;
    cursor: pointer;
}